/* VARIABLES */
:root {
  --gradient-clr-1: rgba(125, 233, 255, 1);
  --gradient-clr-2: rgba(164,182,245,1);
  --gradient-clr-3: rgba(219, 189, 254, 1);
  --clr-mid: rgba(225,225,232,255);
}

/* TYPOGRAPHY */
@font-face {
  font-family: 'Adieu';
  src: url(../fonts/adieu-regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: 'Adieu';
  src: url(../fonts/adieu-bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: 'Adieu';
  src: url(../fonts/adieu-black.otf);
  font-weight: 900;
}
@font-face {
  font-family: 'Gotham';
  src: url(../fonts/gotham-medium.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url(../fonts/gotham-bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: 'Gotham';
  src: url(../fonts/gotham-black.otf);
  font-weight: 900;
}
@font-face {
  font-family: 'Monument Extended';
  src: url(../fonts/monumentextended-regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: 'Monument Extended';
  src: url(../fonts/monumentextended-ultrabold.otf);
  font-weight: 900;
}

/* MAIN STYLES */
*, *::after, *::before {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Gotham';
  /* line-height: 1.2; */
}
a {
  cursor: pointer;
}

/* HEADER STYLES */
header {
  /* border: 1px solid red; */
  background-color: rgba(176, 176, 176, 0.5);
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  width: 100%;
  height: 4rem;
  z-index: 999;
  padding: 0 10%;
  font-family: 'Monument Extended';
  color: white;
}
header h1 {
  font-size: 3rem;
}
.nav-icons {
  font-size: 2rem;
  margin-left: 2rem;
}
nav {
  flex-grow: 1;
  text-align: right;
}
nav ul {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  align-items: center;
  text-align: center;
}
.button {
  background-color: white;
  border-radius: 25px;
  margin: 3rem 1rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  /* height: 100vh; */
  overflow: hidden;
}

/* HERO STYLES */
.section-hero {
  position: relative;
  margin-top: 0;
  background-image: url("../images/hero-background.png");
  overflow: hidden;
  height: 100vh;
}
.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 4rem;
}
.hero-overlay {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 4rem;
  /* overflow: hidden; */
  font-family: 'Adieu';
}
.hero-logo {
  width: 30rem;
  position: absolute;
  left: -12rem;
  top: calc(50vh - 19rem); /* half image height - margin */
}
.circular-text img {
  position: absolute;
  left: calc(100% - 150px - 3rem);
  top: 3rem;
  width: 150px;
}
.hero-text {
  margin-top: calc(50vh - 19rem); /* half image height - margin */
  margin-left: 20rem;
}
.hero-text-slide {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 1rem;
  line-height: .85;
}
.hero-text-slide .first-line {
  font-size: 7rem;
  /* outline with text-shadow */
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
/* outline with text-stroke when supported */
@supports((text-stroke: 2px black) or (-webkit-text-stroke: 2px black)) {
  .hero-text-slide .first-line {
    color: transparent;
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
    text-shadow: none;
  }
}
.hero-text-slide .second-line {
  font-size: 8.5rem;
}

.hero-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  padding-left: .5rem;
}
.hero-text-body {
  /* padding-top: 1rem; */
  padding-left: .5rem;
  line-height: 1.5;
}
.hero-buttons {
  display: flex;
}
.carrousel-selectors {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carrousel-selector {
  position: relative;
  bottom: -4rem;
  border: 1px solid black;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin: 0 .5rem;
}
.carrousel-selector.selected {
  background-color: black;
}

/* MERCADO STYLES */
.section-mercado {
  text-align: center;
  overflow: hidden;
}
.mercado-promo {
  position: relative;
  left: 40%;
  top: 5rem;
  background-color: var(--gradient-clr-1);
  color: white;
  font-family: 'Adieu';
  text-transform: uppercase;
  line-height: 1.5;
  padding: .5rem 10rem;
  transform: rotate(45deg);
}
.mercado-promo .first-line {
  font-size: 1.5rem;
  font-weight: bold;
}
.mercado-promo .second-line {
  font-size: 1rem;
}
.logo-mm {
  margin-top: -2rem;
  width: 180px;
  margin: 1rem;
}
.mercado-text {
  /* border: 1px solid red; */
  width: 500px;
  line-height: 1.2;
  /* margin: 1rem; */
}
.mercado-text p {
  font-family: 'Gotham';
  font-size: 1rem;
  text-transform: uppercase;
}
.mercado-text h2 {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.mercado-text .text-body {
  text-transform: none;
}
.info-cards {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin: 2rem; */
}
.info-card {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 1rem;
  width: 320px;
  height: 280px;
  text-transform: uppercase;
}
.info-card-background {
  padding: 2rem;
  width: 100%;
  height: 100%;
}
.info-card-almacen .info-card-background,
.info-card-servicios .info-card-background {
  background: rgb(175,118,240);
  background: linear-gradient(148deg, var(--gradient-clr-3) 0%, var(--gradient-clr-2) 50%, var(--gradient-clr-1) 100%);
}
.info-card-bares .info-card-background {
  background: rgb(0,212,255);
  background: linear-gradient(148deg, var(--gradient-clr-1) 0%, var(--gradient-clr-2) 50%, var(--gradient-clr-3) 100%);
}
.info-card-inner {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: .5rem;
}
.info-card-icon {
  height: 7rem;
  margin-top: .5rem;
}
.info-card-title {
  font-weight: bold;
  line-height: 2;
}
.line-info-card {
  border: 1px solid black;
  width: 1.5rem;
  margin: 1rem;
}
.info-card-link {
  font-size: .8rem;
}

/* CÓMO COMPRAR STYLES */
.section-comprar {
  flex-direction: row;
  height: 100vh;
}
.panel {
  width: 50%;
  height: 100%;
  padding-top: 6rem;
}
.section-comprar .panel-left {
  position: relative;
}
.section-comprar .panel-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  filter: brightness(70%);
}
.section-comprar .panel-content {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  color: white;
}
.panel-content h2 {
  display: flex;
  font-family: 'Adieu';
  text-align: right;
  text-transform: uppercase;
  font-weight: 900;
}
.panel-content h2 p:first-child {
  font-size: 1.5rem;
  padding-top: 1.7rem;
  padding-right: .7rem;
}
.panel-content h2 p:last-child {
  font-size: 7rem;
}
.line-comprar {
  border: 1px solid white;
  width: 3rem;
  margin: 1rem;
}
.panel-content-text {
  font-family: 'Gotham';
  font-weight: normal;
}
.comprar-logo {
  margin: 4rem;
  width: 50%;
}
.section-comprar .panel-right {
  background: var(--gradient-clr-3);
  background: linear-gradient(220deg, var(--gradient-clr-3) 0%, var(--gradient-clr-2) 50%, var(--gradient-clr-1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding: 3rem 7rem;
}
.panel-right-step {
  font-family: 'Monument Extended';
  font-size: 5rem;
  padding-top: 2rem;
}
.panel-right-subtitle {
  font-size: 1.3rem;
  padding-top: .7rem;
}
.panel-right-description {
  color: black;
  font-family: 'Gotham';
  font-size: 1rem;
  padding-top: 1rem;
}

/* DONDE ENCONTRARNOS STYLES */
.section-encontrar {
  text-transform: uppercase;
  height: 100vh;
}
.encontrar-subtitle {
  font-family: 'Gotham';
  font-size: 1rem;
}
.section-encontrar h2 {
  font-family: 'Adieu';
  font-size: 3rem;
  font-weight: bold;
  padding-top: .5rem;
}
.encontrar-buttons {
  display: flex;
}
.encontrar-buttons .button {
  border: 1px solid black;
  border-radius: 40px;
  display: inline-flex;
  max-width: 230px;
  text-align: center;
  align-items: center;
}
.encontrar-mapa {
  width: 70%;
  height: 50%;
}

/* PREGUNTAS FRECUENTES STYLES */
.section-preguntas {
  background-color: var(--clr-mid);
  height: 100vh;
}
.preguntas-icon {
  border: 1px solid black;
  border-radius: 50%;
  padding: 1rem;
  font-size: 2rem;
}
.section-preguntas-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 500px;
  padding: 1rem;
  margin-bottom: 2rem;
}
.section-preguntas-text h2 {
  font-family: 'Adieu';
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 2rem;
}
/* .section-preguntas-text p {
  font-family: 'Gotham';
} */
.section-preguntas-accordion {
  /* border: 1px solid red; */
  width: 60%;
}
.accordion-question {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.question-display {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 1rem .5rem;
}
.accordion-question:last-child {
  border-bottom: 1px solid black;
}
.question-display .question {
  text-transform: uppercase;
}
.section-preguntas-accordion .expand-text {
  display: none;
  border-top: 1px solid black;
  padding: 2rem .5rem;
}

/* CONTACTO STYLES */
.section-contacto {
  height: 65vh;
  font-family: 'Gotham';
  text-align: center;
  line-height: 1.5;
  background: var(--gradient-clr-3);
  background: linear-gradient(220deg, var(--gradient-clr-3) 0%, var(--gradient-clr-2) 50%, var(--gradient-clr-1) 100%);
}
.section-contacto h2 {
  font-family: 'Adieu';
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.line-contacto {
  border: 1px solid black;
  width: 3rem;
  margin: 2rem;
}
.section-contacto-subtitle {
  font-family: 'Adieu';
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.section-contacto-text {
  width: 500px;
}
.contact-type {
  text-transform: uppercase;
  margin-top: 1.5rem;
}
.contact-phone,
.contact-mail {
  font-size: 1.5rem;
  font-weight: bold;
}

/* FOOTER STYLES */
footer {
  display: flex;
  background-color: black;
  color: white;
  padding: 2rem 10vw;
  font-family: 'Gotham';
  /* font-weight: lighter; */
}
.footer-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 3rem;
  width: 50%;
}
.footer-panel .footer-title {
  font-family: 'Adieu';
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.footer-panel p {
  font-size: 1rem;
  line-height: 1.5;
  padding: .5rem 0;
}
.footer-subtitle {
  text-transform: uppercase;
}
footer .panel-right {
  padding-left: 5rem;
}
.footer-icon {
  font-size: 1.5rem;
  padding: .5rem 0;
}
.footer-logo {
  width: 300px;
}
footer .panel-right {
  border-left: 1px solid white;
}

/* **************** MEDIA QUERIES **************** */

/* ------------- MEDIUM MONITOR DOWN ------------- */
@media screen and (max-width: 1400px) {
  html {
    font-size: 14px;
  }
  .section-comprar .panel-right {
    padding: 1rem 7rem;
  }
}

/* ------------- TABLET LANDSCAPE DOWN ------------- */
@media screen and (max-width: 1200px){
  html {
    font-size: 14px;
  }
  .hero-logo {
    width: 25rem;
    left: -10rem;
    top: calc(50vh - 16.5rem);
  }
  .section-preguntas {
    justify-content: flex-start;
    padding-top: 3rem;
  }
}
/* ------------- TABLET PORTRAIT DOWN ------------- */
@media screen and (max-width: 900px) {
  html {
    font-size: 16px;
  }
  .button {
    font-size: 1.2rem;
  }
  /* HERO */
  .hero-logo {
    display: none;
  }
  .hero-text {
    margin-left: 0;
    padding: 0 2rem;
  }
  .hero-text-body {
    font-size: 1.5rem;
  }
  .hero-buttons {
    justify-content: center;
  }
  /* MERCADO */
  .section-mercado {
    height: auto;
  }
  .mercado-promo {
    left: 30%;
    top: 6rem;
    padding: .5rem 15rem;
  }
  .mercado-text {
    padding: 1rem 3rem;
    width: auto;
  }
  .mercado-text p {
    font-size: 1.2rem;
  }
  .info-cards {
    flex-direction: column;
    margin: 2rem;
  }
  .info-card {
    margin: 1rem;
    width: 350px;
    height: 310px;
  }
  .info-card-icon {
    height: 9rem;
  }
  .info-card-title {
    font-size: 1.2rem;
    line-height: 1;
  }
  /* COMPRAR */
  .section-comprar {
    height: auto;
    flex-direction: column;
  }
  .section-comprar .panel {
    width: 100%;
  }
  .panel-content-text {
    font-size: 1.5rem;
  }
  .section-comprar .panel-right {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  /* DÓNDE ENCONTRARNOS */
  .section-encontrar {
    height: auto;
    justify-content: flex-start;
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
  .section-encontrar h2 {
    font-size: 2rem;
  }
  .encontrar-mapa {
    height: 500px;
  }
 /* PREGUNTAS FRECUENTES */
 .section-preguntas {
   height: auto;
   justify-content: flex-start;
   padding-top: 4rem;
   padding-bottom: 3rem;
 }
 /* CONTACTO */
 .section-contacto {
   height: auto;
   justify-content: flex-start;
   padding-top: 4rem;
   padding-bottom: 3rem;
 }
 /* FOOTER */
 footer {
   padding: 2rem;
 }
 .footer-panel {
   padding: 0;
 }
 .footer-logo {
   width: 250px;
 }
}
/* ------------- MOBILE DEVICES DOWN ------------- */
@media screen and (max-width: 600px) {
  /* body {
    max-width: 100vw;
    overflow-x: hidden;
  } */
  header {
    width: 100vw;
    padding: 0 1rem;
  }
  .button {
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
  }
  /* HERO */
  .circular-text img {
    display: none;
    /* top: 1rem;
    left: calc(100% - 100px - 1rem);
    width: 100px; */
  }
  .hero-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 2rem 1rem;
  }
  .hero-text-body {
    margin-top: 1.5rem;
  }
  .hero-buttons {
    flex-direction: column;
    margin-top: 1.5rem;
  }
  .hero-buttons .button {
    margin: .5rem 1rem;
  }
  .carrousel-selector {
    bottom: auto;
  }
  /* MIA MERCADO */
  .mercado-promo {
    top: 4rem;
    left: 25%;
    padding: .5rem 3rem;
  }
  .mercado-promo .first-line {
    font-size: 1.2rem;
  }
  .logo-mm {
    margin-top: 3rem;
  }
  .mercado-text {
    padding: 1rem;
  }
  .mercado-text h2 {
    font-size: 3rem;
  }
  /* CÓMO COMPRAR CON MIA */
  .section-comprar {
    height: 200vh;
  }
  .panel-content h2 {
    flex-direction: column;
    text-align: center;
  }
  .panel-content h2 p:first-child {
    font-size: 2rem;
  }
  .panel-content h2 p:last-child {
    font-size: 9rem;
  }
  .panel-content-text {
    text-align: center;
  }
  .comprar-logo {
    width: 80%;
  }
  .section-comprar .panel-right {
    padding: 6rem 2rem;
  }
  /* DÓNDE ENCONTRARNOS */
  .section-encontrar {
    text-align: center;
  }
  .encontrar-buttons {
    margin: 2rem;
    flex-direction: column;
  }
  .encontrar-buttons .button {
    justify-content: center;
    margin: .5rem;
  }
  .encontrar-mapa {
    width: 95%;
  }
  /* PREGUNTAS FRECUENTES */
  .section-preguntas-text {
    width: auto;
  }
  .section-preguntas-accordion {
    width: auto;
    padding: 1rem;
  }
  /* CONTACTO */
  .section-contacto h2 {
    font-size: 2rem;
  }
  .line-contacto {
    margin: 1rem;
  }
  .section-contacto-text {
    width: auto;
  }
  /* FOOTER */
  footer {
    flex-direction: column;
  }
  .footer-panel {
    width: 100%;
  }
  footer .panel-right {
    border: none;
    padding: 2rem 0 0;
  }
  .footer-logo {
    margin-bottom: 2rem;
  }
}
