/* VARIABLES */
:root {
  --gradient-clr-1: rgba(125, 233, 255, 1);
  --gradient-clr-2: rgba(164,182,245,1);
  --gradient-clr-3: rgba(219, 189, 254, 1);
  --clr-light: rgb(240, 240, 240);
  --clr-mid: rgba(225,225,232,255);
  --clr-dark: rgb(34, 34, 34);
  --clr-link-hover: #428bca;
  /* --clr-dark: rgb(0, 0, 0); */
}

/* TYPOGRAPHY */
/* ADIEU */
@font-face {
  font-family: 'Adieu';
  src: url(../fonts/adieu-regular.otf);
  /* font-weight: normal; */
}
@font-face {
  font-family: 'Adieu Bold';
  src: url(../fonts/adieu-bold.otf);
  /* font-weight: bold; */
}
@font-face {
  font-family: 'Adieu Slanted';
  src: url(../fonts/adieu-boldslanted.otf);
  /* font-weight: boldslanted; */
}
@font-face {
  font-family: 'Adieu Black';
  src: url(../fonts/adieu-black.otf);
}
/* APERCU */
@font-face {
  font-family: 'Apercu Light';
  src: url(../fonts/apercu.otf);
  /* font-weight: lighter; */
}
@font-face {
  font-family: 'Apercu';
  src: url(../fonts/apercu-medium.otf);
  /* font-weight: normal; */
}
@font-face {
  font-family: 'Gotham';
  src: url(../fonts/gotham-medium.otf);
}
@font-face {
  font-family: 'Gotham Bold';
  src: url(../fonts/gotham-bold.otf);
  /* font-weight: bold; */
}
@font-face {
  font-family: 'Gotham Book';
  src: url(../fonts/gotham-book.otf);
  /* font-weight: normal; */
}
/* MONUMENT */
@font-face {
  font-family: 'Monument';
  src: url(../fonts/monumentextended-regular.otf);
  /* font-weight: normal; */
}
@font-face {
  font-family: 'Monument Black';
  src: url(../fonts/monumentextended-ultrabold.otf);
  /* font-weight: bolder; */
}
/* MYRIAD */
@font-face {
  font-family: 'Myriad';
  src: url(../fonts/myriadpro-regular.otf);
  font-weight: normal;
}
/* MAIN STYLES */
*, *::after, *::before {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Gotham';
  color: var(--clr-dark);
  width: 100vw;
  overflow-x: hidden;
}
.main-container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
a, .link {
  cursor: pointer;
}
a:hover, .link:hover {
  color: #428bca;
}
.button {
  background-color: white;
  border-radius: 45px;
  margin: 3rem 1rem;
  padding: 1rem 3rem;
  font-family: 'Gotham';
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: default;
}
.button:hover {
  box-shadow: 2px 2px 10px 1px var(--clr-dark);
  transition: box-shadow 0.2s ease-in-out;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
}
/* OVERRIDE BOOTSTRAP STYLES */
.panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: 0;
}
.modal-footer {
  border-top: 0;
}
/* FIN OVERRIDE BOOTSTRAP */

/* HEADER STYLES */
header {
  background-color: rgba(176, 176, 176, 0.5);
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  width: 100%;
  height: 4rem;
  z-index: 999;
  padding: 0 10%;
  /* font-family: 'Monument Extended'; */
  color: white;
}
.menu-expanded {
  border-bottom: 1px solid black;
  background-color: white;
  color: black;
}
header h1 {
  font-family: 'Adieu Bold';
  /* font-weight: bold; */
  font-size: 3rem;
}
.nav-icon {
  font-size: 2rem;
  margin-left: 2rem;
  transition: scale 0.1s ease-in;
}
.nav-icon:hover {
  scale: 1.05;
}
nav {
  flex-grow: 1;
  text-align: right;
}
.nav-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 4rem;
  left: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  color: black;
  text-transform: uppercase;
}
.nav-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-logo {
  width: 30rem;
  position: absolute;
  left: -12rem;
  top: calc(50vh - 19rem); /* half image height - margin */
}
.nav-ul .menu-title {
  font-family: 'Gotham Bold';
  font-size: 1rem;
}
.nav-ul .line-menu {
  border: 1px solid black;
  width: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.nav-ul li {
  font-family: 'Adieu Black';
  font-size: 3rem;
  padding-top: 1rem;
}
.nav-ul .menu-link:hover {
  text-shadow: 5px 5px 5px var(--clr-mid);
}
.nav-ul .menu-icon {
  font-size: 2.5rem;
  padding-top: 3rem;
}
.nav-ul .close-menu-button {
  border: 1px solid black;
}

/* HERO STYLES */
.section-hero {
  position: relative;
  margin-top: 0;
  background-image: url("../images/slide-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}
.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 4rem;
  opacity: .8;
}
.hero-overlay {
  position: absolute;
  width: 100%;
  /* font-family: 'Gotham'; */
}
.hero-logo {
  width: 30rem;
  position: absolute;
  left: -12rem;
  top: calc(50vh - 19rem); /* half image height - margin */
}
.circular-text img {
  position: absolute;
  left: calc(100% - 130px - 2rem);
  top: 2rem;
  width: 130px;
}
.hero-text {
  margin-top: calc(50vh - 15rem); /* half image height - margin */
  margin-left: 20rem;
}
.hero-text-slide {
  font-family: 'Adieu Black';
  /* font-weight: 900; */
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: .85;
}
.slide1 {
  display: block;
}
.slide2 {
  display: none;
}
.slide3 {
  display: none;
}
.hero-text-slide .first-line {
  font-size: 6rem;
  /* outline with text-shadow */
  color: white;
  text-shadow:
    -1px -1px 0 var(--clr-dark),
    1px -1px 0 var(--clr-dark),
    -1px 1px 0 var(--clr-dark),
    1px 1px 0 var(--clr-dark);
}
/* outline with text-stroke when supported */
@supports((text-stroke: 2px black) or (-webkit-text-stroke: 2px black)) {
  .hero-text-slide .first-line {
    color: transparent;
    -webkit-text-stroke: 2px var(--clr-dark);
    text-stroke: 2px var(--clr-dark);
    text-shadow: none;
  }
}
.hero-text-slide .second-line {
  font-size: 7rem;
}
.hero-text h2 {
  font-family: 'Adieu';
  /* font-weight: normal; */
  font-size: 2.3rem;
  margin-bottom: 1rem;
  padding-left: .5rem;
}
.hero-text-body {
  font-family: 'Gotham';
  font-weight: 500;
  /* padding-top: 1rem; */
  padding-left: .5rem;
  line-height: 1.5;
}
.hero-buttons {
  display: flex;
}
.carrousel-selectors {
  display: flex;
  position: relative;
  bottom: -2rem;
  align-items: center;
  justify-content: center;
}
.carrousel-selector {
  border: 1px solid black;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin: 0 .5rem;
  transition: 0.4s;
}
.selected {
  background-color: black;
}

/* MODAL: CONOCÉ MIA STYLES */
.modal-conoce {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  background: var(--gradient-clr-3);
  background: linear-gradient(220deg, var(--gradient-clr-3) 0%, var(--gradient-clr-2) 50%, var(--gradient-clr-1) 100%);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(200%);
  transition: transform 0.3s ease-out;
  z-index: 1000;
}
.modal-conoce.active {
  transform: translateX(0%);
}
.modal-conoce .close-conoce {
  position: absolute;
  top: 1rem;
  right: 3rem;
  text-align: center;
}
.modal-conoce .close-conoce i {
  font-size: 3rem;
  color: var(--clr-dark);
}
.modal-conoce .modal-title {
  width: 100%;
  height: 130px;
  text-align: center;
}
.modal-title h1 {
  font-family: "Adieu Bold";
  font-size: 3rem;
  text-transform: uppercase;
  padding: 2rem;
}
.modal-conoce .conoce-panels {
  display: flex;
  position: relative;
}
.conoce-panels .panel {
  /* border: 1px solid red; */
  width: 50%;
  min-height: calc(100vh - 130px);
}
.conoce-panels .panel-left {
  background-color: black;
  color: white;
  padding-top: 3rem;
}
.conoce-panels .panel-left p {
  font-family: 'Apercu Light';
  font-size: 1.2rem;
  padding: 2rem 7rem;
}
.conoce-panels .panel-right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #ffffff;
  padding-top: 0;
}
.conoce-panels .panel-right img {
  width: 90%;
}

/* MERCADO STYLES */
.section-mercado {
  text-align: center;
  overflow: hidden;
}
.mercado-promo {
  position: relative;
  width: 1000px;
  left: 40%;
  top: 8rem;
  background-color: var(--gradient-clr-1);
  color: white;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  padding: .5rem;
  transform: rotate(45deg);
}
.mercado-promo .first-line {
  font-family: 'Adieu Black';
  /* font-weight: 900; */
  font-size: 1.3rem;
}
.mercado-promo .second-line {
  font-family: 'Adieu Bold';
  /* font-weight: bold; */
  /* font-size: .9rem; */
}
.logo-mm {
  margin-top: -2rem;
  width: 180px;
  margin: 1rem;
}
.mercado-text {
  width: 500px;
  line-height: 1.2;
}
/* .mercado-text p {
  font-family: 'Gotham';
  font-size: 1rem;
  text-transform: uppercase;
} */
.mercado-text h2 {
  font-family: 'Adieu Bold';
  /* font-weight: 900; */
  font-size: 3.5rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.mercado-text .text-body {
  font-family: 'Apercu Light';
  /* font-weight: lighter; */
  /* font-size: 1.2rem; */
  text-transform: none;
}
.info-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.info-card {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 1rem;
  width: 320px;
  height: 280px;
  text-transform: uppercase;
}
.info-card-background {
  padding: 2rem;
  width: 100%;
  height: 100%;
}
.info-card-almacen .info-card-background,
.info-card-servicios .info-card-background {
  background: rgb(175,118,240);
  background: linear-gradient(148deg, var(--gradient-clr-3) 0%, var(--gradient-clr-2) 50%, var(--gradient-clr-1) 100%);
}
.info-card-bares .info-card-background {
  background: rgb(0,212,255);
  background: linear-gradient(148deg, var(--gradient-clr-1) 0%, var(--gradient-clr-2) 50%, var(--gradient-clr-3) 100%);
}
.info-card-inner {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: .5rem;
}
.info-card-icon {
  height: 7rem;
  margin-top: .5rem;
}
.info-card-title {
  font-weight: bold;
  line-height: 2;
}
.line-info-card {
  border: 1px solid black;
  width: 1.5rem;
  margin: 1rem;
}
.info-card-link {
  font-family: 'Apercu Light';
  /* font-weight: lighter; */
  /* font-size: 1rem; */
}

/* CÓMO COMPRAR STYLES */
.section-comprar {
  flex-direction: row;
  height: 100vh;
}
.panel {
  width: 50%;
  height: 100%;
  padding-top: 6rem;
}
.section-comprar .panel-left {
  position: relative;
}
.section-comprar .panel-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/como-comprar-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  filter: brightness(70%);
}
.section-comprar .panel-content {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  color: white;
}
.panel-content h2 {
  /* border: 1px solid red; */
  display: flex;
  font-family: 'Adieu Black';
  /* font-weight: 400; */
  /* font-weight: 900; */
  text-align: right;
  text-transform: uppercase;
}
.panel-content h2 p:first-child {
  /* border: 1px solid yellow; */
  width: 200px;
  font-size: 1.2rem;
  text-align: right;
  padding-top: 1rem;
  padding-right: .7rem;
}
.panel-content h2 p:last-child {
  font-size: 5rem;
  padding-right: 7rem;
}
.line-comprar {
  border: 1px solid white;
  width: 3rem;
  margin: 1rem;
}
/* .panel-content-text {
  font-family: 'Gotham';
} */
.comprar-logo {
  margin: 4rem;
  width: 50%;
}
.section-comprar .panel-right {
  background: var(--gradient-clr-3);
  background: linear-gradient(220deg, var(--gradient-clr-3) 0%, var(--gradient-clr-2) 50%, var(--gradient-clr-1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding: 3rem 7rem;
}
.panel-right-step {
  font-family: 'Monument';
  font-size: 5rem;
  padding-top: 2rem;
}
.panel-right-subtitle {
  font-size: 1.3rem;
  padding-top: .7rem;
}
.panel-right-description {
  color: black;
  font-family: 'Apercu Light';
  font-size: 1rem;
  padding-top: 1rem;
}

/* MODAL: BARES Y RESTAURANTES */
.modal-bares {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  background: var(--gradient-clr-3);
  background: linear-gradient(220deg, var(--gradient-clr-3) 0%, var(--gradient-clr-2) 50%, var(--gradient-clr-1) 100%);
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  top: 0;
  left: 0;
  transform: translateX(200%);
  transition: transform 0.3s ease-out;
  z-index: 1000;
}
.modal-bares.active {
  transform: translateX(0%);
}
.modal-bares .close-modal {
  position: absolute;
  top: 1rem;
  right: 3rem;
  text-align: center;
}
.modal-bares .close-modal i {
  font-size: 3rem;
  color: var(--clr-dark);
}
.modal-bares .modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
  text-align: center;
}
.modal-bares .modal-title img {
  width: 3rem;
}
.modal-bares .modal-title h1 {
  font-family: "Adieu Bold";
  font-size: 3rem;
  text-transform: uppercase;
  padding: 2rem;
}
.modal-bares .modal-text,
.modal-bares .modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 7rem 1rem;
  line-height: 1.5;
  text-align: center;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.modal-bares .footer-logo {
  width: 350px;
}
.bares-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-mid);
  width: 100vw;
}
.bares-list .list-item {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-end;
}
.list-item .item-column {
  width: 50%;
}
.bares-list .item-text {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  /* margin: 1rem 0 5rem; */
}
.bares-list .item-title {
  display: flex;
  align-items: center;
  padding-top: 3rem;
  padding-left: 3rem;
}
.bares-list .item-title img {
  width: 3rem;
  margin-right: 1rem;
}
.bares-list .item-title h3 {
  font-family: "Adieu Bold";
  font-size: 1.2rem;
  text-transform: uppercase;
}
.bares-list .item-text p {
  padding-top: 10rem;
  padding-left: 7rem;
  height: 100%;
  line-height: 3;
}
.bares-list .item-text i {
  font-size: 1.5rem;
  padding-right: 1rem;
}
.item-column .wide-img img {
  width: 100%;
}
.item-column .small-img {
  display: flex;
}
.item-column .small-img img {
  width: 33.33%;
}











/* MODAL: SERVICIOS */
.modal-servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  background: var(--gradient-clr-3);
  background: linear-gradient(220deg, var(--gradient-clr-3) 0%, var(--gradient-clr-2) 50%, var(--gradient-clr-1) 100%);
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  top: 0;
  left: 0;
  transform: translateX(200%);
  transition: transform 0.3s ease-out;
  z-index: 1000;
}
.modal-servicios.active {
  transform: translateX(0%);
}
.modal-servicios .close-modal {
  position: absolute;
  top: 1rem;
  right: 3rem;
  text-align: center;
}
.modal-servicios .close-modal i {
  font-size: 3rem;
  color: var(--clr-dark);
}
.modal-servicios .modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
  text-align: center;
}
.modal-servicios .modal-title img {
  width: 3rem;
}
.modal-servicios .modal-title h1 {
  font-family: "Adieu Bold";
  font-size: 3rem;
  text-transform: uppercase;
  padding: 2rem;
}
.modal-servicios .modal-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 7rem 1rem;
  line-height: 1.5;
  text-align: center;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.servicios-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-mid);
  width: 100vw;
  padding-top: 3rem;
}
.servicios-list .list-title {
  /* border: 1px solid red; */
  display: flex;
  width: 60%;
  align-items: center;

  margin: 1rem 0 5rem;
}
.servicios-list .list-title img {
  width: 3rem;
  margin-right: 1rem;
}
.servicios-list .list-title h3 {
  font-family: "Adieu Bold";
  font-size: 1.2rem;
  text-transform: uppercase;
}
.servicios-list-accordion {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 3rem;
}
.accordion-service {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.service-display {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 1rem .5rem;
  cursor: default;
  transition: 0.4s;
}
.active, .service-display:hover {
  background-color: rgba(210,210,215,255);
}
.accordion-service:last-child {
  border-bottom: 1px solid black;
}
.service-display .service {
  font-family: 'Gotham Bold';
  text-transform: uppercase;
}
.servicios-list-accordion .expand-text {
  /* border-top: 1px solid black; */
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.expand-text .list-item {
  font-family: 'Apercu Light';
  padding: .5rem 5rem 1rem;
  border-top: 1px solid black;
  /* line-height: 1.5; */
}
.expand-text .list-item span {
  font-family: 'Apercu';
  font-weight: bold;
}
.expand-text .list-item a {
  color: blue;
}

/* DONDE ENCONTRARNOS STYLES */
.section-encontrar {
  text-transform: uppercase;
  height: 100vh;
}
/* .encontrar-subtitle {
  font-family: 'Gotham';
  font-size: 1rem;
} */
.section-encontrar h2 {
  font-family: 'Adieu Bold';
  /* font-weight: bold; */
  font-size: 3rem;
  padding-top: .5rem;
}
.encontrar-buttons {
  display: flex;
}
.encontrar-buttons .button {
  border: 1px solid black;
  border-radius: 40px;
  display: inline-flex;
  max-width: 230px;
  text-align: center;
  align-items: center;
}
.encontrar-buttons .button:hover {
  box-shadow: 2px 2px 5px 2px var(--clr-mid);
}
.encontrar-mapa {
  width: 70%;
  height: 50%;
}

/* PREGUNTAS FRECUENTES STYLES */
.section-preguntas {
  background-color: var(--clr-mid);
  min-height: 100vh;
}
.preguntas-icon {
  border: 1px solid black;
  border-radius: 50%;
  padding: 1rem;
  font-size: 2rem;
}
.section-preguntas-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 500px;
  padding: 1rem;
  margin-bottom: 2rem;
}
.section-preguntas-text h2 {
  font-family: 'Adieu Bold';
  /* font-weight: bold; */
  font-size: 2rem;
  text-transform: uppercase;
  margin: 2rem;
}
.section-preguntas-text p {
  font-family: 'Apercu Light';
}
.section-preguntas-accordion {
  width: 60%;
  margin-bottom: 3rem;
}
.accordion-question {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.question-display {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 1rem .5rem;
  cursor: default;
  transition: 0.4s;
}
.active, .question-display:hover {
  background-color: rgba(210,210,215,255);
}
.accordion-question:last-child {
  border-bottom: 1px solid black;
}
.question-display .question {
  font-family: 'Gotham Bold';
  text-transform: uppercase;
}
.section-preguntas-accordion .expand-text {
  /* border-top: 1px solid black; */
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.expand-text p {
  font-family: 'Apercu Light';
  /* font-weight: normal; */
  padding: 2rem .5rem;
}

/* CONTACTO STYLES */
.section-contacto {
  height: 65vh;
  font-family: 'Gotham';
  text-align: center;
  line-height: 1.5;
  background: var(--gradient-clr-3);
  background: linear-gradient(220deg, var(--gradient-clr-3) 0%, var(--gradient-clr-2) 50%, var(--gradient-clr-1) 100%);
}
.section-contacto h2 {
  font-family: 'Adieu Bold';
  /* font-weight: normal; */
  font-size: 3rem;
  text-transform: uppercase;
}
.line-contacto {
  border: 1px solid black;
  width: 3rem;
  margin: 2rem;
}
.section-contacto-subtitle {
  font-family: 'Adieu Bold';
  /* font-weight: bold; */
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.section-contacto-text {
  width: 500px;
}
.contact-type {
  font-family: 'Apercu Light';
  text-transform: uppercase;
  margin-top: 1.5rem;
}
.contact-phone,
.contact-mail {
  font-size: 1.2rem;
  font-weight: bold;
}

/* FOOTER STYLES */
footer {
  display: flex;
  background-color: black;
  color: white;
  padding: 2rem 10vw;
  font-family: 'Apercu Light';
}
.footer-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 3rem;
  width: 50%;
}
.footer-panel .footer-title {
  font-family: 'Adieu Bold';
  /* font-weight: bold; */
  font-size: 1.2rem;
  text-transform: uppercase;
}
.footer-panel p {
  font-size: 1rem;
  line-height: 1.5;
  padding: .5rem 0;
}
.footer-subtitle {
  font-family: 'Adieu Bold';
  text-transform: uppercase;
}
footer .panel-right {
  padding-left: 5rem;
}
.footer-icon {
  font-size: 1.5rem;
  padding: .5rem 0;
}
.footer-logo {
  width: 300px;
}
footer .panel-right {
  border-left: 1px solid white;
}

/* **************** MEDIA QUERIES **************** */

/* ------------- BIG MONITOR UP ------------- */
@media screen and (min-width: 1800px) {
  html {
    font-size: 1.5rem;
  }
  /* HERO */
  .hero-logo {
    width: 27rem;
    left: -10rem;
    top: calc(50vh - 15rem);
  }
  .circular-text img {
    width: 200px;
    left: calc(100% - 200px - 6rem);
  }
  .hero-text {
    margin-top: calc(50vh - 15rem);
  }
  .hero-buttons .button {
    margin: 2rem;
  }
  /* MIA MERCADO */
  .section-mercado {
    height: 100vh;
  }
  .logo-mm {
    margin-top: -3rem;
    width: 230px;
  }
  .mercado-text {
    width: 750px;
  }
  .info-card {
    width: 380px;
    height: 320px;
  }
  .info-card-background {
    padding: 1.5rem;
  }
  .info-card-icon {
    margin-top: 0;
    height: 120px;
  }
  /* CÓMO COMPRAR CON MIA */
  .comprar-logo {
    width: 45%;
  }
  .panel-content h2 p:first-child {
    width: 270px;
  }
  /* DÓNDE ENCONTRARNOS */
  .encontrar-buttons .button {
    max-width: 350px;
    padding: .5rem 2rem;
  }
  /* CONTACTO */
  .section-contacto h2 {
    font-size: 2.5rem;
  }
  .line-contacto {
    margin: 1rem;
  }
  .section-contacto-text {
    width: 700px;
  }
  .contact-phone,
  .contact-mail {
    font-size: 1.2rem;
  }
  /* FOOTER */
  .footer-panel .panel-title {
    font-size: 1rem;
  }
  .footer-panel p {
    font-size: .7rem;
  }
  .footer-logo {
    width: 400px;
  }
}

/* ------------- MEDIUM MONITOR DOWN ------------- */
@media screen and (max-width: 1400px) {
  html {
    font-size: 14px;
  }
  .section-comprar .panel-right {
    padding: 1rem 7rem;
  }
}

/* ------------- TABLET LANDSCAPE DOWN ------------- */
@media screen and (max-width: 1200px){
  html {
    font-size: 14px;
  }
  .hero-logo {
    width: 25rem;
    left: -10rem;
    top: calc(50vh - 16.5rem);
  }
  .section-preguntas {
    justify-content: flex-start;
    padding-top: 3rem;
  }
}
/* ------------- TABLET PORTRAIT DOWN ------------- */
@media screen and (max-width: 900px) {
  html {
    font-size: 16px;
  }
  .button {
    font-size: 1.2rem;
  }
  /* HERO */
  .hero-logo {
    display: none;
  }
  .hero-text {
    margin-left: 0;
    padding: 0 2rem;
  }
  .hero-text-body {
    font-size: 1.5rem;
  }
  .hero-buttons {
    justify-content: center;
  }
  /* MERCADO */
  .section-mercado {
    height: auto;
  }
  .mercado-promo {
    left: 30%;
    top: 6rem;
    padding: .5rem 15rem;
  }
  .mercado-text {
    padding: 1rem 3rem;
    width: auto;
  }
  .mercado-text p {
    font-size: 1.2rem;
  }
  .info-cards {
    flex-direction: column;
    margin: 2rem;
  }
  .info-card {
    margin: 1rem;
    width: 350px;
    height: 310px;
  }
  .info-card-icon {
    height: 9rem;
  }
  .info-card-title {
    font-size: 1.2rem;
    line-height: 1;
  }
  /* COMPRAR */
  .section-comprar {
    height: auto;
    flex-direction: column;
  }
  .section-comprar .panel {
    width: 100%;
  }
  .panel-content-text {
    font-size: 1.5rem;
  }
  .section-comprar .panel-right {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  /* DÓNDE ENCONTRARNOS */
  .section-encontrar {
    height: auto;
    justify-content: flex-start;
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
  .section-encontrar h2 {
    font-size: 2rem;
  }
  .encontrar-mapa {
    height: 500px;
  }
 /* PREGUNTAS FRECUENTES */
 .section-preguntas {
   height: auto;
   justify-content: flex-start;
   padding-top: 4rem;
   padding-bottom: 3rem;
 }
 /* CONTACTO */
 .section-contacto {
   height: auto;
   justify-content: flex-start;
   padding-top: 4rem;
   padding-bottom: 3rem;
 }
 /* FOOTER */
 footer {
   padding: 2rem;
 }
 .footer-panel {
   padding: 0;
 }
 .footer-logo {
   width: 250px;
 }
}
/* ------------- MOBILE DEVICES DOWN ------------- */
@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
  .button {
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
  }
  /* HEADER */
  header {
    width: 100vw;
    padding: 0 1rem;
  }
  .nav-icons {
    margin-left: 1rem;
  }
  /* HERO */
  .hero-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .circular-text img {
    display: none;
    /* top: 1rem;
    left: calc(100% - 100px - 1rem);
    width: 100px; */
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 4rem 1rem 3rem;
  }
  .hero-text-slide {
    display: flex;
  }
  .hero-text-slide .first-line {
    font-size: 5rem;
  }
  .hero-text-slide .second-line {
    font-size: 5rem;
  }
  .hero-text h2 {
    margin-top: 1.5rem;
    font-size: 1.7rem;
  }
  .hero-text-body {
    /* margin: 2rem; */
    font-size: 1rem;
  }
  .hero-buttons {
    flex-direction: column;
    margin-top: 1.5rem;
    width: 80vw;
  }
  .hero-buttons .button {
    margin: .5rem 1rem;
  }
  .carrousel-selectors {
    bottom: auto;
  }
  /* MIA MERCADO */
  .mercado-promo {
    /* display: none; */
    top: 4rem;
    left: 25%;
    padding: .5rem 3rem;
  }
  .mercado-promo .first-line {
    font-size: 1.2rem;
  }
  .logo-mm {
    margin-top: 3rem;
  }
  .mercado-text {
    padding: 1rem;
  }
  .mercado-text h2 {
    font-size: 3rem;
  }
  .mercado-text p {
    font-size: 1rem;
  }
  .info-card {
    width: 280px;
    height: 280px;
  }
  .info-card-icon {
    height: 150px;
  }
  .info-card-inner {
    justify-content: flex-start;
  }
  /* CÓMO COMPRAR CON MIA */
  .panel-content h2 {
    flex-direction: column;
    text-align: center;
  }
  .panel-content h2 p:first-child {
    width: auto;
    text-align: center;
    font-size: 1.5rem;
  }
  .panel-content h2 p:last-child {
    font-size: 8rem;
  }
  .panel-content-text {
    text-align: center;
  }
  .comprar-logo {
    width: 70%;
  }
  .section-comprar .panel-right {
    padding: 1rem;
    padding-bottom: 4rem;
  }
  /* DÓNDE ENCONTRARNOS */
  .section-encontrar {
    text-align: center;
  }
  .section-encontrar h2 {
    font-size: 1.5rem;
  }
  .encontrar-buttons {
    margin: 2rem;
    flex-direction: column;
  }
  .encontrar-buttons .button {
    justify-content: center;
    margin: .5rem;
  }
  .encontrar-mapa {
    width: 95%;
  }
  /* PREGUNTAS FRECUENTES */
  .section-preguntas-text {
    width: auto;
  }
  .section-preguntas-accordion {
    width: auto;
    padding: 1rem;
  }
  /* CONTACTO */
  .section-contacto h2 {
    font-size: 2rem;
  }
  .line-contacto {
    margin: 1rem;
  }
  .section-contacto-text {
    width: auto;
  }
  /* CONOCE MIA */
  .modal-conoce {
    flex-direction: column;
  }
  .modal-conoce .panel {
    width: 100%;
    padding-top: 0;
  }
  .modal-conoce .panel-left p {
    padding: 1rem;
    font-size: 1rem;
  }
  /* FOOTER */
  footer {
    flex-direction: column;
  }
  .footer-panel {
    width: 100%;
  }
  footer .panel-right {
    border: none;
    padding: 2rem 0 0;
  }
  .footer-logo {
    margin-bottom: 2rem;
  }
}
